
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
//font-family: 'Nanum Gothic', sans-serif;

// navigation.php
.global-navigation{
    background: rgba(255, 255, 255, 0.5);
}

//index.php
.application-form{
    font-family: 'Nanum Gothic', sans-serif;

    h1.main-title{
        font-size: 25px;
    }
    .orderAndQuotation-section{
        .form-check{
            input, label{
                font-size: 15px;
            }
        }
    }
    .orderer-section{
        .orderer-label{
            font-size: 20px;
            background: linear-gradient(145deg, #ffffff 10%, #f6d5f7 30%, #fbe9d7 60%, #ffffff00 90%);
        }
        .sizenumber{
            width: 100%;
        }
    }
    .designPics{
        img{
            cursor: pointer;
            width: 100%;
            box-shadow:
                0 1.9px 2.5px rgba(0, 0, 0, 0.057),
                0 5px 6.1px rgba(0, 0, 0, 0.076),
                0 10.1px 11.4px rgba(0, 0, 0, 0.086),
                0 19.2px 19.8px rgba(0, 0, 0, 0.092),
                0 38.4px 34.8px rgba(0, 0, 0, 0.1),
                0 101px 74px rgba(0, 0, 0, 0.13);
        }
    }
    .cc-num{
        width: 100%;
    }
    .cardnumber{
        width: 40%;
    }

}